<div class="d-flex flex-column">
  <div class="d-flex justify-content-center"><h1>Bienvenido a LibraryGEST</h1></div>
  <div class = "d-flex justify-content-center" >

  <img src="assets/LogoHectorCompany.jpg" alt=" " >

  </div>
  <div class="text-center">
    Desarrollado por:
    <h3>Héctor Company</h3>
  </div>
  <div class="text-center">
    <a href="https://hectorco.github.io/CV/" target="_blank">Mi CV</a>
  </div>
  <div class="text-center">
    <a href="https://github.com/HectorCo/LibraryGEST" target="_blank">Repositorio de LibraryGEST en Github</a>
  </div>
</div>


